@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Mono,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --green: hsl(87, 71%, 35%);
  --main-bg-color: #16202c;
  --bg-color1: #011f0157;
  --light-gray: #23313d;
}

body {
  background-color: var(--main-bg-color);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif;
  font-weight: 400;
  color: white;
  min-height: 100vh;
}

input {
  width: 100%;
  height: 39px;
  background-color: var(--light-gray);
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 12px;
  transition: all 0.15s ease;
}

input:focus {
  outline: 1.2px solid var(--green);
}
